*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
    background-color: lightgray;
}

a:hover{
    color: red;
}

h1{
    font-size: 40px;
}
ul{
    font-size: 30px;
}