*{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #988357;
}

.home1,.countryside1{
    height: 300px;
}

.countryside2,.neighborhood{
    height: 300px;
}

.countryside2#new1{
    width: 300px
}